alire/
config/
lib/
obj/
gnatprove-run.txt
tests/smoke/bin/
tests/smoke/obj/
tests/timing/bin/
tests/timing/obj/

*.a
*.ali
*.bexch
*.cswi
*.lexch
*.o
*.stderr
*.stdout
*.bak
tests/bench/bin/
tests/bench/obj/
tests/bench/alire/
tests/bench/config/
